/* Webfont: Lato-Regular */
@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "LatoWeb", arial,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}
nav .main-nav {
    display: flex;
    list-style: none;
}

nav .main-nav li {
    padding: 10px 15px;
    margin: 0 10px;
}

nav .flags {
    display: flex;
    list-style: none;
}
nav .flags li {
    padding: 10px 15px;
}
nav .main-nav li>a, nav .flags li>a {
    cursor: pointer;
    color: #fff;
}
nav .main-nav li.active, nav .flags li.active {
    border-bottom: 1px solid #fff;
}

.slide {
    flex-basis: 400px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(196,0,183);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c400b7+0,009ec3+100 */
    background: rgb(196,0,183); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(196,0,183,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(196,0,183,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(196,0,183,1) 0%,rgba(0,158,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c400b7', endColorstr='#009ec3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.slide > .shadowed-text {
    font-size: 2rem;
    text-shadow: 1px 1px 30px #000000;
}

footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9rem;
    background-color: #333333;
    color: #fff;
    padding: 20px;
}


.social, .services {
    padding-right: 50px;    
}
.social .list>a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.services .list {
    display: flex;
    flex-direction: column;
}
.services .list>a {
    color: #fff;
    text-decoration: none;
}

.contact address {
    display: inline;
}
.contact .list a {
    color: #fff;
    text-decoration: none;
}